.home-con {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.darkColour {
  background-color: black;
  color: white;
}
.lightColour {
  background-color: white;
  color: black;
}
.home-img {
  width: 150px;
  height: 150px;
}
